## ðŸ’» Exercises: Module 5

#### Exercises: Level 1

In [25]:
# Declare an empty list
lst = [] # Empty list        
print(lst) # Print the list

[]

In [26]:
# Declare a list with more than 5 items
colours = ['blue', 'green', 'yellow', 'white', 'black','orange'] # list of colour
print(len(colours)) # Number of colours

6

In [27]:
# Get the first item, the middle item and the last item of the list
print(colours[0]) # First item
print(colours[-1]) # Last item

blue
orange

In [28]:
# Declare a list called mixed_data_types, put your(name, age, height, marital status, address)
mix_data_types = ['Nafisat',25,1.54,'Single','BZ 99 Bungudu Road Kaduna Rigasa Duniya'] # mixed
print(mix_data_types)

['Nafisat', 25, 1.54, 'Single', 'BZ 99 Bungudu Road Kaduna Rigasa Duniya']

In [29]:
# Declare a list variable named it_companies and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.
companies = ['Facebook', 'Google', 'Microsoft','Apple','IBM','Oracle','Amazon']
print(companies) # Initial values for each company in the list
print(len(companies)) # Number of it_companies in it_companies
print(companies[0]) # First item in the list
print(companies[3])  # Second item in the list
print(companies[-1]) # Last item in the list

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
7
Facebook
Apple
Amazon

In [38]:
# Print the list after modifying one of the companies
companies [-3] = 'Nokia'   # First item in the list        
print(companies) # First item in the list

['Facebook', 'Nokia', 'Microsoft', 'IT company', 'Apple', 'Nokia', 'Oracle', 'IT Company']

In [39]:
# Insert an IT company in the middle of the companies list
# Add an IT company to it_companies
companies[-1] = "IT Company" # First item in the list
print(companies)

['Facebook', 'Nokia', 'Microsoft', 'IT company', 'Apple', 'Nokia', 'Oracle', 'IT Company']

In [41]:
# Change one of the it_companies names to uppercase (IBM excluded!)
print(companies[4].upper()) # Fourth item in the list

APPLE

In [48]:
# Join the it_companies with a string '#;  ''
companies= ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
results = " # " .join(companies)
print(results)

Facebook # Google # Microsoft # Apple # IBM # Oracle # Amazon

In [50]:
# Check if a certain company exists in the it_companies list.
print('Google' in companies) # Check if Google exists in the list
print('oracle' in companies) # Check if Oracle exists

True
False

In [51]:
# Sort the list using sort() method

companies.sort() # Sort the list using sort()
print(companies) # Print the list

['Amazon', 'Apple', 'Facebook', 'Google', 'IBM', 'Microsoft', 'Oracle']

In [ ]:
# Reverse the list in descending order using reverse() method
companies.sort(reverse=True)  # Sort in descending order
print(companies)# Reverse the list in descending

['Oracle', 'Microsoft', 'IBM', 'Google', 'Facebook', 'Apple', 'Amazon']

In [54]:
# Slice out the first 3 companies from the list

print(companies[:3]) # Slice out the first 3 companies from the list

['Oracle', 'Microsoft', 'IBM']

In [56]:
# Slice out the last 3 companies from the list

print(companies[-3:]) # Slice out the last 3 companies from the list

['Facebook', 'Apple', 'Amazon']

In [57]:
# Slice out the middle IT company or companies from the list

print(companies[2:-3]) # Slice out the middle IT company or companies from the list

['IBM', 'Google']

In [ ]:
# Remove the first IT company from the list
companies = ['Facebook', 'Google', 'Microsoft','IT Company', 'Apple', 'IBM', 'Oracle', 'Amazon', 'IT Company', 'LogicTech'] # Remove the first IT company from the
print(companies[8])

IT Company

In [71]:
#Remove the middle IT company or companies from the list

companies = ['Facebook', 'Google', 'Microsoft','IT Company', 'Apple', 'IBM', 'Oracle', 'Amazon', 'IT Company', 'LogicTech'] # Remove the middle IT company or companies from the
del companies[2:5] # Remove the middle IT company or companies from the list
print(companies)

# Remove the last IT company from the list

['Facebook', 'Google', 'IBM', 'Oracle', 'Amazon', 'IT Company', 'LogicTech']

In [72]:
# Remove the last IT company from the list

companies = ['Facebook', 'Google', 'Microsoft','IT Company', 'Apple', 'IBM', 'Oracle', 'Amazon', 'IT Company', 'LogicTech'] # Remove the last IT company from the
del companies[-2] # Remove the last IT company from the list
print(companies)

# Remove all IT companies from the list

['Facebook', 'Google', 'Microsoft', 'IT Company', 'Apple', 'IBM', 'Oracle', 'Amazon', 'LogicTech']

In [73]:
# Remove all IT companies from the list

companies = ['Facebook', 'Google', 'Microsoft','IT Company', 'Apple', 'IBM', 'Oracle', 'Amazon', 'IT Company', 'LogicTech'] # Remove all IT companies from the
companies = [company for company in companies if company!= 'IT Company'] # Remove all IT companies from the list
print(companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon', 'LogicTech']

In [74]:
# Destroy the IT companies list

companies = None # Destroy the IT companies list
print(companies) # Check if the list is destroyed

None

In [75]:
# Join the following lists:
# front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
# back_end = ['Node','Express', 'MongoDB']

front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux'] # Front-end technologies
back_end = ['Node','Express', 'MongoDB'] # Back-end technologies

combined_list = front_end + back_end # Combine the lists
print(combined_list) # Print the combined list

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

In [76]:
# After joining the lists in question 26. Copy the joined list and assign it to a variable full_stack, then insert Python and SQL after Redux.

full_stack = combined_list # Copy the joined list to full_stack
full_stack.insert(4, 'Python') # Insert Python after Redux
full_stack.insert(6, 'SQL') # Insert SQL after Python
print(full_stack) # Print the updated full_stack list
# Sort the full_stack list in descending order.

['HTML', 'CSS', 'JS', 'React', 'Python', 'Redux', 'SQL', 'Node', 'Express', 'MongoDB']

## EXERCISE : LEVEL 2

In [ ]:
# The following is a list of 10 students ages:

ages = [16, 17, 18, 19, 20, 21, 22, 23, 24, 25] # 10 students

# Sort this list in ascending order using the bubble sort algorithm.
ages.sort
print(ages) # Print the sorted list

[16, 17, 18, 19, 20, 21, 22, 23, 24, 25]

In [94]:
# Add the min age 
ages_min = min(ages) # Add the min age
print(ages_min) # Print the sorted list again

# Add the max age
ages_max = max(ages) # Add the max age
print(ages_max) # Print the sorted list again

16
25

In [96]:
# Find the median age (one middle item or two middle items divided by two)
middle_1 = 25
middle_2 = 26
results = middle_2 + middle_1
print(f'The Median is: {results / 2}\n')

The Median is: 25.5

In [105]:
# Find the average age (sum of all items divided by their number )
ages_sum = sum(ages)
length = len(ages)
average_age = ages_sum / length
print(f"The Average of Age is: {ages_sum / length}")

The Average of Age is: 20.5

In [107]:
# Find the range of the ages (max minus min)
age_range = ages_max - ages_min 
print(f"The Range of Age is: {age_range}")

The Range of Age is: 9

In [111]:
# Compare the value of (min - average) and (max - average), use abs() method
value_1 = abs(min(ages) - average_age)
print(f"(min - Average) is: {value_1}")
value_2 = abs(max(ages) - average_age)
print(f"(Max - Average) is: {value_2}")

if value_2 == value_1:
    print("The (min - Average) and (Max - Average) are the same")
else:
    print("The (min - Average) and (Max - Average) are different")

(min - Average) is: 4.5
(Max - Average) is: 4.5
The (min - Average) and (Max - Average) are the same

In [114]:
# Find the middle country(ies) in the countries list.
countries_list = [
  'Afghanistan',
  'Albania',
  'Algeria',
  'Andorra',
  'Angola',
  'Antigua and Barbuda',
  'Argentina',
  'Armenia',
  'Australia',
  'Austria',
  'Azerbaijan',
  'Bahamas',
  'Bahrain',
  'Bangladesh',
  'Barbados',
  'Belarus',
  'Belgium',
  'Belize',
  'Benin',
  'Bhutan',
  'Bolivia',
  'Bosnia and Herzegovina',
  'Botswana',
  'Brazil',
  'Brunei',
  'Bulgaria',
  'Burkina Faso',
  'Burundi',
  'Cambodia',
  'Cameroon',
  'Canada',
  'Cape Verde',
  'Central African Republic',
  'Chad',
  'Chile',
  'China',
  'Colombi',
  'Comoros',
  'Congo (Brazzaville)',
  'Congo',
  'Costa Rica',
  "Cote d'Ivoire",
  'Croatia',
  'Cuba',
  'Cyprus',
  'Czech Republic',
  'Denmark',
  'Djibouti',
  'Dominica',
  'Dominican Republic',
  'East Timor (Timor Timur)',
  'Ecuador',
  'Egypt',
  'El Salvador',
  'Equatorial Guinea',
  'Eritrea',
  'Estonia',
  'Ethiopia',
  'Fiji',
  'Finland',
  'France',
  'Gabon',
  'Gambia, The',
  'Georgia',
  'Germany',
  'Ghana',
  'Greece',
  'Grenada',
  'Guatemala',
  'Guinea',
  'Guinea-Bissau',
  'Guyana',
  'Haiti',
  'Honduras',
  'Hungary',
  'Iceland',
  'India',
  'Indonesia',
  'Iran',
  'Iraq',
  'Ireland',
  'Israel',
  'Italy',
  'Jamaica',
  'Japan',
  'Jordan',
  'Kazakhstan',
  'Kenya',
  'Kiribati',
  'Korea, North',
  'Korea, South',
  'Kuwait',
  'Kyrgyzstan',
  'Laos',
  'Latvia',
  'Lebanon',
  'Lesotho',
  'Liberia',
  'Libya',
  'Liechtenstein',
  'Lithuania',
  'Luxembourg',
  'Macedonia',
  'Madagascar',
  'Malawi',
  'Malaysia',
  'Maldives',
  'Mali',
  'Malta',
  'Marshall Islands',
  'Mauritania',
  'Mauritius',
  'Mexico',
  'Micronesia',
  'Moldova',
  'Monaco',
  'Mongolia',
  'Morocco',
  'Mozambique',
  'Myanmar',
  'Namibia',
  'Nauru',
  'Nepal',
  'Netherlands',
  'New Zealand',
  'Nicaragua',
  'Niger',
  'Nigeria',
  'Norway',
  'Oman',
  'Pakistan',
  'Palau',
  'Panama',
  'Papua New Guinea',
  'Paraguay',
  'Peru',
  'Philippines',
  'Poland',
  'Portugal',
  'Qatar',
  'Romania',
  'Russia',
  'Rwanda',
  'Saint Kitts and Nevis',
  'Saint Lucia',
  'Saint Vincent',
  'Samoa',
  'San Marino',
  'Sao Tome and Principe',
  'Saudi Arabia',
  'Senegal',
  'Serbia and Montenegro',
  'Seychelles',
  'Sierra Leone',
  'Singapore',
  'Slovakia',
  'Slovenia',
  'Solomon Islands',
  'Somalia',
  'South Africa',
  'Spain',
  'Sri Lanka',
  'Sudan',
  'Suriname',
  'Swaziland',
  'Sweden',
  'Switzerland',
  'Syria',
  'Taiwan',
  'Tajikistan',
  'Tanzania',
  'Thailand',
  'Togo',
  'Tonga',
  'Trinidad and Tobago',
  'Tunisia',
  'Turkey',
  'Turkmenistan',
  'Tuvalu',
  'Uganda',
  'Ukraine',
  'United Arab Emirates',
  'United Kingdom',
  'United States',
  'Uruguay',
  'Uzbekistan',
  'Vanuatu',
  'Vatican City',
  'Venezuela',
  'Vietnam',
  'Yemen',
  'Zambia',
  'Zimbabwe',
]
lenght_countries = len(countries_list)
median = countries_list[lenght_countries//2]
print(f"The middle is: {median}")

The middle is: Lesotho

In [117]:
# Divide the countries list into two equal lists if it is even if not one more country for the first half.
lenght_countries = len(countries_list)
mid_countries  = (lenght_countries + 1)// 2  ## Adding 1 to make two country equal
#DIVIDE THE LIST INTO TWO HALF
first_half = countries_list[:mid_countries]
print(f"The first part of the country are: {first_half}")

second_half = countries_list[mid_countries:]
print(f"The second half of the country are: {second_half}")

The first part of the country are: ['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde', 'Central African Republic', 'Chad', 'Chile', 'China', 'Colombi', 'Comoros', 'Congo (Brazzaville)', 'Congo', 'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'East Timor (Timor Timur)', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon', 'Gambia, The', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Korea, North', 'Korea, South', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho']
The second half of the country are: ['Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macedonia', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico', 'Micronesia', 'Moldova', 'Monaco', 'Mongolia', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Norway', 'Oman', 'Pakistan', 'Palau', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia', 'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent', 'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia and Montenegro', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Swaziland', 'Sweden', 'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Vatican City', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe']

In [118]:
# 'China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']. Unpack the first three countries and the rest as scandic countries.
unpack = ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']
print(f"The first country is: {unpack[0].upper()}")
print(f"The second country is: {unpack[1].upper()}")
print(f"The third country is: {unpack[2].upper()}")
print(f"The scandic country are: {unpack[3:]}")

The first country is: CHINA
The second country is: RUSSIA
The third country is: USA
The scandic country are: ['Finland', 'Sweden', 'Norway', 'Denmark']

#### TUPLES
## Tuple Exercises: Level 1

In [ ]:
# Create an empty tuple
my_tuple =()
print(my_tuple)

()

In [121]:
# Create a tuple containing names of your sisters and your brothers (imaginary siblings are fine)
my_brothers = ("ibrahim", "musandra", "Ahmad","Muhammad")
my_sisters =   ("jamila","Hafsat","Fatima","Nafisah")
print(my_brothers)
print(my_sisters)

('ibrahim', 'musandra', 'Ahmad', 'Muhammad')
('jamila', 'Hafsat', 'Fatima', 'Nafisah')

In [122]:
# Join brothers and sisters tuples and assign it to siblings
my_siblings =my_sisters+my_brothers
print(my_siblings)

('jamila', 'Hafsat', 'Fatima', 'Nafisah', 'ibrahim', 'musandra', 'Ahmad', 'Muhammad')

In [125]:
# How many siblings do you have?
print(f'I have {len(my_siblings)} siblings')

I have 8 siblings

In [147]:
# Modify the siblings tuple 
# and add the name of your father and mother 
# and assign it to family_members

parent = ["Alhaji Muktar","Hajiya Maryam"]
my_siblings = list(my_siblings)
family_members = my_siblings+parent
print(family_members)

['jamila', 'Hafsat', 'Fatima', 'Nafisah', 'ibrahim', 'musandra', 'Ahmad', 'Muhammad', 'Alhaji Muktar', 'Hajiya Maryam']

#### Tuple Exercises: Level 2

In [150]:
# Unpack siblings and parents from family_members
for sister in my_sisters:
    print(my_sisters, "are my sisters","\n")

for brother in my_brothers:
    print(my_brothers, "are my brother","\n")

for parents in parent:
    print(parent, "are my parent", "\n")

('jamila', 'Hafsat', 'Fatima', 'Nafisah') are my sisters

('jamila', 'Hafsat', 'Fatima', 'Nafisah') are my sisters

('jamila', 'Hafsat', 'Fatima', 'Nafisah') are my sisters

('jamila', 'Hafsat', 'Fatima', 'Nafisah') are my sisters

('ibrahim', 'musandra', 'Ahmad', 'Muhammad') are my brother

('ibrahim', 'musandra', 'Ahmad', 'Muhammad') are my brother

('ibrahim', 'musandra', 'Ahmad', 'Muhammad') are my brother

('ibrahim', 'musandra', 'Ahmad', 'Muhammad') are my brother

['Alhaji Muktar', 'Hajiya Maryam'] are my parent

['Alhaji Muktar', 'Hajiya Maryam'] are my parent

In [152]:
# Create fruits, vegetables and animal products tuples. 
# Join the three tuples 
# and assign it to a variable called food_stuff_tp.
fruits = ('mango','apple','kiwi','orange','watermelon')
vegetables = ('tomatoes','pumkin','lettuce','cabbage','carrot')
animal_products = ('eggs','milk','meat','chicken','butter')
food_stuff_tp = fruits+vegetables+animal_products
print(food_stuff_tp)

('mango', 'apple', 'kiwi', 'orange', 'watermelon', 'tomatoes', 'pumkin', 'lettuce', 'cabbage', 'carrot', 'eggs', 'milk', 'meat', 'chicken', 'butter')

In [164]:
# Change the about food_stuff_tp tuple to a food_stuff_lt list
food_stuff_tp = list(food_stuff_lst)
print(food_stuff_lst)

['mango', 'apple', 'kiwi', 'orange', 'watermelon', 'tomatoes', 'pumkin', 'lettuce', 'cabbage', 'carrot', 'eggs', 'milk', 'meat', 'chicken', 'butter']

In [ ]:
# Slice out the middle item or items from the food_stuff_tp tuple or food_stuff_lt list.
print(food_stuff_lst[0:3])
print(food_stuff_lst[3:6])
print(food_stuff_lst[-3:-1])

['mango', 'apple', 'kiwi']
['orange', 'watermelon', 'tomatoes']
['meat', 'chicken']

In [155]:
# Slice out the first three items and the last three items from food_staff_lt list
print(food_stuff_lst[0:-1])

['mango', 'apple', 'kiwi', 'orange', 'watermelon', 'tomatoes', 'pumkin', 'lettuce', 'cabbage', 'carrot', 'eggs', 'milk', 'meat', 'chicken']

In [ ]:
# Delete the food_staff_tp tuple completely
fruits = ('mango','apple','kiwi','orange','watermelon')
vegetables = ('tomatoes','pumkin','lettuce','cabbage','carrot')
animal_products = ('eggs','milk','meat','chicken','butter')
food_stuff_tp = fruits+vegetables+animal_products
print(food_stuff_tp)
# Check if an item exists in tuple:
del food_stuff_tp

('mango', 'apple', 'kiwi', 'orange', 'watermelon', 'tomatoes', 'pumkin', 'lettuce', 'cabbage', 'carrot', 'eggs', 'milk', 'meat', 'chicken', 'butter')

In [180]:
# Check if 'Estonia' is a nordic country
# Check if 'Iceland' is a nordic country
nordic_countries = ('Denmark', 'Finland','Iceland', 'Norway', 'Sweden')
if 'Estonia' in nordic_countries:
    print('Estonia is present in nordic countries')
else:
    print('Estonia not present in nordic countries')

if 'Iceland' in nordic_countries:
    print('Iceland is present in Nordic countries')
else:
    print('Iceland is not present in Nordic countries')

Estonia not present in nordic countries
Iceland is present in Nordic countries

## ðŸ’» Sets Exercises
#### SET EXERCISE 1

In [186]:
# Find the length of the set it_companies
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
print(f'Length of it_companies is: {len(it_companies)}')

Length of it_companies is: 7

In [183]:
# Add 'Twitter' to it_companies
it_companies.add('Twitter')
print(it_companies)

{'Google', 'Oracle', 'Microsoft', 'Twitter', 'Amazon', 'IBM', 'Facebook', 'Apple'}

In [184]:
# Insert multiple IT companies at once to the set it_companies

it_companies.update(['Instagram', 'Snapchat', 'TikTok'])
print(it_companies)

{'TikTok', 'Microsoft', 'Twitter', 'IBM', 'Facebook', 'Google', 'Snapchat', 'Instagram', 'Apple', 'Oracle', 'Amazon'}

In [192]:

# Remove one of the companies from the set it_companies

it_companies.remove('Microsoft')
print(it_companies)

{'Google', 'Oracle', 'Amazon', 'IBM', 'Facebook', 'Apple'}

In [ ]:
# What is the difference between remove and discard

it_companies.remove('Twitter')  # Raises an error if the item does not exist
print(it_companies)

it_companies.discard('Twitter')  # Does not raise an error if the item does not exist
print(it_companies)

#### Sets Exercises: Level 2

In [194]:
# Join A and B
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
C = A.union(B)
print(C)

{19, 20, 22, 24, 25, 26, 27, 28}

In [195]:
# Find A intersection B

C = A.intersection(B)
print(C)

{19, 20, 22, 24, 25, 26}

In [196]:
# Is A subset of B

C = A.issubset(B)
print(C)

True

In [198]:
# Are A and B disjoint sets

C = A.isdisjoint(B)
print(C)

False

In [202]:
# Join A with B and B with A
join_A = A.union(B)
join_B = B.union(A)
print(join_A)
print(join_B)

{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26, 27, 28}

In [201]:
# What is the symmetric difference between A and B
symmetric_diff = A.symmetric_difference(B)
print(symmetric_diff)

{27, 28}

In [203]:
# Delete the sets completely

del A
del B
del C
del join_A
del join_B

#### Sets Exercises: Level 3

In [209]:
# Convert the ages to a set and compare the length of the list and the set, which one is bigger?
age = [22, 19, 24, 25, 26, 24, 25, 24]
age_set = set(age)
print(age_set)
length = len(age_set)

print(f'Length of the set is: {len(age_set)}')

{19, 22, 24, 25, 26}
Length of the set is: 5

In [ ]:
# Explain the difference between the following data types: string, list, tuple and set

string = "Hello World"
list = ['Hello', 'World']
tuple = ('Hello', 'World')
set = {'Hello', 'World'}
# STRING : A string is a text wrapped in the single quote(''), double quote(""), and Tripple quote(""")
# LIST : A list is a collection of data or items. you can think of shooping list, attendace list, noise make list ETC the list is written you as: ["book", " pen"]
# TUPLE : A tuple is collection of data in mutational form. is a collection of items that cannot be change or replce. A tuple is written as: turple = ('item', 'item2')
# SET : A set is a collection of item in a set. a set is writen as: set = {'item', 'item2'}

In [ ]:
# I am a teacher and I love to inspire and teach people. How many unique words have been used in the sentence? Use the split methods and set to get the unique words.

sentence = "I am a teacher and I love to inspire and teach people"
words = sentence.split()
unique_words = set(words)
print(f'Number of unique words: {len(unique_words)}')
print(unique_words)

Number of unique words: 10
{'love', 'to', 'I', 'a', 'am', 'and', 'teacher', 'people', 'teach', 'inspire'}

#### ðŸŽ‰ CONGRATULATIONS ! ðŸŽ‰